.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#tooltip-disabled {
  width: 15rem;
}
.tournament_page {
  padding-top: 5%;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.nav-menu.open {
  display: flex;
}

.nav-toggle {
  display: none;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #61dafb;
  margin: 6px 0;
  transition: all 0.2s ease-in-out;
}

.nav-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 12px;
}

.nav-toggle.open span:nth-child(2) {
  opacity: 0;
}
.nav-toggle span {
  font-size: 0;
}
.nav-toggle.open span {
  font-size: 0.5em;
  background-color: transparent;
}
.nav-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -9px;
}
.progress {
  height: 0.2rem !important;
}
@media (max-width: 992px) {
  .nav-menu {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .login-closed.open {
    display: none;
  }
}
