@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
/* .home {
  background-color: rgba(0, 0, 0, 0.4);
} */
.join-member {
  background-color: red;
  border-radius: 20px;
  color: white;
}
.join-member:hover {
  color: rgb(167, 167, 167);
}
.jumbotron {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 80vh;
}
#video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: -100;
  object-fit: fill;
}
.into {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 100%;
}
.h1 {
  color: #12bae3;
}
.into-content {
  margin-top: 8%;
  background-color: rgba(0, 0, 0, 0.6);
}
h1 {
  font-size: 3em;
}
.h6-border {
  border-bottom: 0.2em solid rgba(244, 92, 93, 255);
  display: inline-block;
  color: #12bae3;
}
.logo-img {
  width: 6rem;
  height: 7rem;
  object-fit: cover;
}
.navBackground {
  background-color: rgba(25, 0, 76, 255);
  /* font-size: 1.2em; */
  font-weight: bold;
  color: #12bae3;
  position: sticky;
  top: 0;
  z-index: 5;
}

.giftcard-preview {
  background-color: rgba(25, 0, 76, 255);
  color: #12bae3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 0.75em;
}
.giftcard-preview-nav {
  background-color: rgba(25, 0, 76, 255);
  color: #12bae3;
}
.card-preview-info {
  border-bottom: 1px solid rgba(25, 0, 76, 255);
}
.recipient-info {
  font-family: "Just Another Hand", cursive;
  font-size: 1.3em;
  /* font-weight: lighter; */
  line-height: 1em;
  color: #12bae3;
}
.text-danger {
  font-weight: bold;
}
.message {
  display: inline-block;
  max-width: 220px !important;
  overflow-wrap: break-word;
}
.giftcard-section {
  border-bottom: 2px solid rgba(25, 0, 76, 255);
  border-top: 2px solid rgba(25, 0, 76, 255);
  border-right: 2px solid rgba(25, 0, 76, 255);
  border-radius: 20px;
}
.textColor {
  color: rgba(244, 92, 93, 255) !important;
}
textarea:focus {
  color: rgba(244, 92, 93, 255) !important;
}
input:focus {
  color: rgba(244, 92, 93, 255) !important;
}
input {
  color: rgba(244, 92, 93, 255) !important;
}
textarea {
  /* color: rgba(25, 0, 76, 255) !important; */
  color: rgba(244, 92, 93, 255) !important;
}
.checkout-btn {
  border-radius: 2px;
  border: solid red;
  background-color: red;
  color: white;
  font-weight: bold;
}
/* .input-section {
  border: 2px solid rgba(25, 0, 76, 255);
  border-radius: 20px;
} */
.datepicker {
  border: 1px solid rgb(207, 207, 207) !important;
  border-radius: 3px !important;
}
.preview-content {
  color: rgba(244, 92, 93, 255);
}
::placeholder {
  /* color: #12bae3 !important; */
  color: rgba(244, 92, 93, 255) !important;
  opacity: 0.5 !important ;
}
.login-page {
  background-color: #12bae3;
  min-height: 100vh;
}
.login-content {
  background-color: white;
  width: fit-content;
}
.sign-up-btn {
  font-weight: bold;
}
a {
  color: #0cc4f2;
}
.gift-container {
  border: 1px solid rgba(244, 92, 93, 0.2);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.main-container {
  background-color: rgba(244, 92, 93, 0.08);
}
svg {
  margin: 0 10px;
}

.background {
  background-color: white;
}
.profile-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.check-tick {
  border: 1px solid;
  border-radius: 50%;
}
.user-page-profile {
  /* max-height: 104vh !important; */
}
.profile-info {
  /* height: 84vh; */
  position: sticky !important;
  top: 15.8% !important;
}
.small-profile-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.CircularProgressbar-path {
  stroke: rgba(25, 0, 76, 255) !important;
}
.CircularProgressbar-text {
  fill: rgba(25, 0, 76, 255) !important;
}
/*
.CircularProgressbar-trail {
  stroke: gray;
}
.CircularProgressbar-background {
  fill: green;
} */
.blink_me {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.bg-dark {
  border-radius: 10px;
}
.league-provider-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: fit;
}
a:hover {
  color: rgba(244, 92, 93, 255);
}
.featured-games {
  border: 3px solid;
}
.bg-secondary.text-white {
  border-radius: 3px;
}
.join-call {
  z-index: 3 !important;
}
.h1-join-call {
  font-size: 8rem;
  color: #0cc4f2;
  font-weight: bold;
  transform: rotate(-4deg);
}
.h2-join-call {
  font-size: 2rem;
  color: rgba(244, 92, 93, 255);
  transform: rotate(-4deg);
  font-weight: bold;

  /* background-color: white; */
}
.dollar-prize {
  color: goldenrod;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: rgba(25, 0, 76, 255);
}
.position-fixed {
  position: fixed;
  z-index: 1;
  /* width: 70%; */
}
.position-fixed-2 {
  /* position: fixed; */
  border-radius: 2px;
  z-index: 1;
}
.side-bar {
  margin-top: 7rem !important;
}
.textColor2 {
  color: rgba(25, 0, 76, 255);
}
button-star {
  background-color: transparent;
  border: none !important;
  outline: none;
  cursor: pointer;
}
.on {
  color: rgba(244, 92, 93, 255);
}
.off {
  color: #ccc;
}
.search-icon {
  position: absolute;
  left: 30px;
}

.search-field {
  padding-right: 38px;
  border-radius: 3px;
  border: 1px solid rgba(244, 92, 93, 255);
}
.search-field:focus {
  outline: 1px solid rgba(244, 92, 93, 255) !important;
}
.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.small-profile-img2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.user-profiles {
  max-height: 64vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: static;
  top: 20% !important;
}
.user-chats {
  max-height: 45vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  position: static;
  top: 20% !important;
}
.user-time-reply {
  font-size: 0.75rem;
  opacity: 0.7;
}
.user-fullname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}
.chat-section {
  position: static;
  top: 20% !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(244, 92, 93, 255);
}
::-webkit-scrollbar-thumb {
  background: rgba(25, 0, 76, 255);
}
.text-chat {
  line-height: 1.3em;
  font-size: 15px;
  border-radius: 3px;
}
.send-btn {
  /* border: 1px solid rgba(244, 92, 93, 255); */
  border: none;
  border-radius: 20px;
}
.text-background {
  background-color: #ddd4d4d4;
}
/* .scoll-table {
  max-height: 75vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  width: 100% !important;
  position: relative;
  width: 300px !important;
} */
.user-position {
  border-bottom: 1px solid rgba(244, 92, 93, 255);
}
.date {
  font-size: 12px;
  opacity: 0.6;
}
.plus-project {
  /* background-color: white; */
  /* display: inline-block !important; */
  width: 20rem;
  height: 15rem;
  box-shadow: 1px 3px 5px rgba(25, 0, 76, 255);
  border-radius: 5px;
}
.my-projects {
  min-height: 100vh;
}
.plus-project:hover {
  border: 2px solid rgba(244, 92, 93, 255);
}
.settings-card:hover {
  box-shadow: 1px 3px 5px rgba(25, 0, 76, 255);
}

.discipline-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.primary-btn {
  width: 10rem;
  background-color: rgba(25, 0, 76, 255);
}
.primary-btn:hover {
  color: white !important;
  background-color: rgba(25, 0, 76, 255);
}
.primary-btn:focus {
  background-color: rgba(244, 92, 93, 255);
  color: rgba(25, 0, 76, 255) !important;
  outline: none !important;
  box-shadow: none !important;
}
.create-btn {
  background-color: rgba(25, 0, 76, 255);
  width: 80%;
}
.create-btn:focus {
  background-color: rgba(25, 0, 76, 255);
  outline: none !important;
  box-shadow: none !important;
}
.tournament-name-img {
  width: 4rem;
  height: 3rem;
}
.hr {
  width: 100%;
  height: 1px;
  background-color: #0cc4f2;
}
/* .modal-lg {
  max-width: 80% !important;
} */
.overview-border {
  border-bottom: 3px solid #0cc4f2;
}
#create-btn {
  display: none;
}
@media screen and (max-width: 1413px) {
  .plus-project {
    width: 18rem;
    height: 13rem;
    overflow: hidden;
    box-shadow: 1px 3px 5px rgba(25, 0, 76, 255);
    border-radius: 5px;
  }
}
@media screen and (max-width: 930px) {
  .organizer {
    margin-right: auto;
    padding-right: 2rem;
    /* margin-right: 5rem !important; */
  }
  .plus-project {
    width: 16rem;
    height: 12rem;
    overflow: hidden;
    box-shadow: 1px 3px 5px rgba(25, 0, 76, 255);
    border-radius: 5px;
  }
  .d-sm-none.my-projects.giftcard-preview-nav {
    display: none !important ;
  }
}
@media screen and (max-width: 576px) {
  .plus-project {
    width: 100%;
    height: 18rem;
    overflow: hidden;
    box-shadow: 1px 3px 5px rgba(25, 0, 76, 255);
    border-radius: 5px;
  }
}
@media screen and (max-width: 992px) {
  #create-btn {
    display: block;
    margin-right: 5rem;
  }
}
.button:disabled,
button[disabled].primary-btn {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666 !important;
}
.registration-card {
  width: 80% !important;
}
/* .current {
  color: rgba(244, 92, 93, 255) !important;
} */
.link-none-deco {
  text-decoration: none !important;
}
.border-right {
  border-right: 1px solid;
}
.text-mute {
  opacity: 0.6;
}
ul li {
  list-style: none;
}
.my-projects.giftcard-preview-nav {
  position: sticky;
  top: 0;
}
.carousel-indicators {
  margin-top: 3rem !important;
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #0cc4f2;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
  border-radius: 100%;
}
.carousel-indicators .active {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(25, 0, 76, 255);
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 100%;
}
.carousel-control-prev {
  display: none !important;
}
.carousel-control-next {
  display: none !important;
}
.participant-list:hover {
  background-color: rgba(244, 92, 93, 0.08);
}
.participant-list {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.friends-list {
  border-bottom: 1px solid rgb(206, 197, 197);
}
.user-friends:hover {
  background-color: #bbbaba;
}
.playerNav {
  position: sticky;
  top: 0rem;
  background-color: rgb(25, 0, 76);
  z-index: 2;
}
.tournament-preview-img {
  width: 6rem;
}
.tournament-list :hover {
  background-color: rgb(254, 242, 242);
}
.span {
  font-size: 0.9em;
}
.tournament-img-cover {
  height: 45vh;
  object-fit: cover;
}
.tournament-img-cover-container {
  position: relative;
}
.tournament-img-cover-container::after {
  content: "";
  position: absolute;
  top: 0;
  height: 45vh;

  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  /* z-index: 1; */
}
.tournament-info {
  z-index: 3 !important;

  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(21, 19, 19));
}
.register-card-top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.reg-border-right {
  border-right: 1px dotted;
}
tab[title] {
  color: #0cc4f2 !important;
}
.border-right {
  border-right: 2px solid !important;
}
.tournament-structure-card:hover {
  box-shadow: 0.4px 0.6px 3px black;
}
.participant-names:hover {
  background-color: white;
}
/* .border-bottom {
  border-bottom: 1px solid !important ;
  width: 100% !important;
} */
.player-round-1 {
  position: relative;
  border: 1px solid gray !important;
  border-radius: 5px;
}
.player-round-2 {
  position: relative;
  border: 1px solid gray !important;
  border-radius: 5px;
}
.player-round-3 {
  position: relative;
  border: 1px solid gray !important;
  border-radius: 5px;
}
.player-round-4 {
  position: relative;
  border: 1px solid gray !important;
  border-radius: 5px;
}
.player-round-1::after {
  content: "";
  width: 2rem;
  height: 1.5px;
  background-color: gray;
  position: absolute;
  right: -2rem;
  top: 50%;
}
.player-round-1::before {
  content: "";
  width: 1.2px;
  height: 3.5rem;
  background-color: gray;
  position: absolute;
  right: -2rem;
  top: 50%;
}
.player-round-2::after {
  content: "";
  width: 2rem;
  height: 1.5px;
  background-color: gray;
  position: absolute;
  right: -2rem;
  top: 50%;
}

.player-round-2::before {
  content: "";
  width: 1.2px;
  height: 3.5rem;
  background-color: gray;
  position: absolute;
  right: -2rem;
  bottom: 50%;
}
.player-round-3::after {
  content: "";
  width: 2rem;
  height: 1.5px;
  background-color: gray;
  position: absolute;
  right: -2rem;
  top: 50%;
}
.player-round-3::before {
  content: "";
  width: 1.2px;
  height: 8.5rem;
  background-color: gray;
  position: absolute;
  right: -2rem;
  bottom: 50%;
}
.player-round-4::after {
  content: "";
  width: 4rem;
  height: 1.5px;
  background-color: gray;
  position: absolute;
  left: -4rem;
  top: 50%;
}
.tournament-name {
  /* width: 75px !important; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.edit-tournament {
  position: absolute;
  top: 5%;
  right: 0%;
  border: none;
  background-color: transparent;
  /* border-radius: 50%; */
  /* width: 3rem;
  height: 3rem; */
}
.tournament-card-edit {
  position: relative;
}
