@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
/* .home {
  background-color: rgba(0, 0, 0, 0.4);
} */
body {
  background-color: rgb(32, 44, 51) !important;
  color: rgb(233, 237, 227);
}
.navbar-nav.list-group .list-group-item {
  background-color: rgb(42, 57, 66);
}
.join-member {
  background-color: red;
  border-radius: 20px;
  color: white;
}
.join-member:hover {
  color: rgb(167, 167, 167);
}
.jumbotron {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.reservation-btn-container {
  position: absolute;
  right: 5%;
  bottom: 10%;
  z-index: 10 !important;
}
.arrow {
  animation: arr 1.8s infinite;
}

.arrow a {
  position: relative;
  margin-left: 0;
}

.arrow a:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-top: 10px solid rgb(40, 167, 69);
  border-right: 10px solid rgb(40, 167, 69);
  transform: rotate(135deg);
}

@keyframes arr {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
}
.show-reservs {
  cursor: pointer;
}
.modal-content {
  background-color: rgb(42, 57, 66);
}
#video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: -100;
  object-fit: fill;
}
.video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: -100;
  object-fit: fill;
}
.fifa-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.into {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 100%;
}
.h1 {
  color: #12bae3;
}

.into-content {
  margin-top: 18%;
  color: #12bae3;
}

h1 {
  font-size: 3em;
}
.h6-border {
  border-bottom: 0.2em solid rgb(233, 237, 227);
  display: inline-block;
  color: #12bae3;
}
.logo-img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.navBackground {
  background-color: rgb(17, 27, 33);
  font-weight: bold;
  color: #12bae3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.impuls {
  color: #12bae3;
}

.giftcard-preview {
  background-color: rgb(17, 27, 33);
  color: #12bae3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 0.75em;
}
.giftcard-preview-nav {
  background-color: rgb(17, 27, 33);
  color: #12bae3;
}
.card-preview-info {
  border-bottom: 1px solid rgb(17, 27, 33);
}
.recipient-info {
  font-family: "Just Another Hand", cursive;
  font-size: 1.3em;
  line-height: 1em;
  color: #12bae3;
}
.text-danger {
  font-weight: bold;
}
.message {
  display: inline-block;
  max-width: 220px !important;
  overflow-wrap: break-word;
}
.giftcard-section {
  border-bottom: 2px solid rgb(17, 27, 33);
  border-top: 2px solid rgb(17, 27, 33);
  border-right: 2px solid rgb(17, 27, 33);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.giftcard-section::after {
  content: url("../img/impuls\ logo.png");
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.2;
}
.textColor {
  color: rgb(233, 237, 227) !important;
}
textarea:focus {
  color: rgb(233, 237, 227) !important;
}
input:focus {
  color: rgb(233, 237, 227) !important;
}
.preview-content {
  background-color: rgb(42, 57, 66);
  overflow: hidden !important;
}
input,
textarea {
  color: rgb(233, 237, 227) !important;
  background-color: rgb(32, 44, 51) !important;
}
textarea {
  color: rgb(233, 237, 227) !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.checkout-btn {
  border-radius: 2px;
  border: solid red;
  background-color: red;
  color: white;
  font-weight: bold;
}
.datepicker {
  border: 1px solid rgb(207, 207, 207) !important;
  border-radius: 3px !important;
}
.preview-content {
  color: rgb(233, 237, 227);
}
::placeholder {
  color: rgb(233, 237, 227) !important;
  opacity: 0.5 !important ;
}
.login-page {
  background-color: rgb(32, 44, 51);
  min-height: 100vh;
}
.login-content {
  background-color: rgb(42, 57, 66);
  width: fit-content;
  color: white;
}
.sign-up-btn {
  font-weight: bold;
}
a {
  color: #0cc4f2;
}
.link-btm-bar {
  text-decoration: none !important;
  position: relative;
}
.link-btm-bar::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  display: block;
  transition: 0.3s;
  transition-timing-function: ease-out;
}
.link-btm-bar:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  display: block;
  background-color: #0cc4f2;
}
.bring-top {
  z-index: 3 !important;
}
.textColor3 {
  color: #0cc4f2;
}
.gift-container {
  /* border: 1px solid rgba(244, 92, 93, 0.2); */
  border-radius: 5px;
  background-color: rgb(42, 57, 66);
}
.main-container {
  /* background-color: rgba(244, 92, 93, 0.08); */
  min-height: 100vh;
}
.main-container2 {
  /* background-color: rgba(244, 92, 93, 0.08); */
}

svg {
  margin: 0 10px;
}

.background {
  /* background-color: white; */
}
.profile-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.check-tick {
  border: 1px solid;
  border-radius: 50%;
}

.profile-info {
  position: sticky !important;
  top: 15.8% !important;
}
.small-profile-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.text-small {
  font-size: small;
}
.CircularProgressbar-path {
  stroke: rgb(17, 27, 33) !important;
}
.CircularProgressbar-text {
  fill: rgb(17, 27, 33) !important;
}

.blink_me {
  animation: blinker 1s linear infinite;
}
.blink_me2 {
  animation: blinker 3s linear infinite;
  color: #0cc4f2 !important;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.send-content-container {
  position: relative;
}
.send-btn-icon {
  position: absolute;
  top: 20%;
  bottom: 0;
  right: 5px;
  background-color: rgb(42, 57, 66);
  border-radius: 10%;
}
.btn-danger {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  border: none;
  background-color: rgb(32, 44, 51) !important;
}
.component-frame.visible {
  color: white !important;
}
.btn-danger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 180%;
  left: 0;
  right: 0;
  /* background-color: green; */
  background-color: rgb(200, 35, 51);
  z-index: -1;
  transition: 0.4s;
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn-danger.register-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 180%;
  left: 0;
  right: 0;
  background-color: green;
  /* background-color: rgb(200, 35, 51); */
  z-index: -1;
  transition: 0.4s;
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn-danger:hover::before {
  height: 0;
}
.bg-dark {
  border-radius: 10px;
  background-color: rgb(32, 44, 51) !important;
}
.league-provider-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: fit;
}
a:hover {
  color: #0cc4f2;
  text-decoration: none;
}
.results-input {
  background-color: #838181;
  border: 2px black solid;
  border-radius: 5px;
  font-size: 2em;
  width: 5rem;
  text-align: center;
}
.results-input2 {
  background-color: #d6cdcd;
  border: 2px black solid;
  border-radius: 5px;
  font-size: 1.5em;
  width: 4rem;
  text-align: center;
}
.loss_bar {
  display: inline-block;
  width: 2rem;
  background-color: red;
  color: white;
}
.win_bar {
  display: inline-block;
  width: 2rem;
  background-color: green;
  color: white;
}
.draw_bar {
  display: inline-block;
  width: 2rem;
  background-color: gray;
  color: white;
}
.results-input::placeholder {
  color: white !important;
}
.notification-bell {
  position: relative;
}
.notification-message {
  position: absolute;
  top: 55%;
  right: 40%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: yellow;
}
.fade.alert.show {
  z-index: 2 !important;
}
.dropdown-toggle::after {
  display: none;
}
.featured-games {
  border: 3px solid;
  border-radius: 5px;
}
.bg-secondary.text-white {
  border-radius: 3px;
}
.border-hover:hover {
  box-shadow: 1px 3px 5px rgb(17, 27, 33);
  border-radius: 5px;
}
.join-call {
  z-index: 3 !important;
}
.h1-join-call {
  font-size: 8em;
  color: #0cc4f2;
  font-weight: bold;
  transform: rotate(-4deg);
  z-index: 3 !important;
}
.h2-join-call {
  font-size: 2em;
  color: rgb(233, 237, 227);
  transform: rotate(-4deg);
  font-weight: bold;
  background-color: rgb(212, 201, 201, 0.3);
  background-image: radial-gradient(
    circle closest-side,
    yellow,
    black,
    #0cc4f2,
    rgba(11, 11, 11, 0.3)
  );
}
.h2-join-call1 {
  background-image: radial-gradient(
    circle closest-side,
    yellow,
    black,
    #0cc4f2,
    rgba(11, 11, 11, 0)
  );
}

.dollar-prize {
  color: goldenrod;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: rgb(17, 27, 33);
}
.position-fixed {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
}
.position-fixed-2 {
  border-radius: 2px;
  z-index: 1;
}
.side-bar {
  margin-top: 7rem !important;
}
.textColor2 {
  color: white;
}
.textColor3 {
  color: #0cc4f2;
}
button-star {
  background-color: transparent;
  border: none !important;
  outline: none;
  cursor: pointer;
}
.warning-bg {
  background-color: rgb(255, 254, 230);
}
.on {
  color: rgb(233, 237, 227);
}
.off {
  color: #ccc;
}
.player-position {
  width: 40px;
  padding-left: 20px;
}
.search-icon {
  position: absolute;
  left: 30px;
}

.search-field {
  padding-right: 38px;
  border-radius: 3px;
  border: 1px solid rgb(233, 237, 227);
}
.search-field:focus {
  outline: 1px solid rgb(233, 237, 227) !important;
}
.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.small-profile-img2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.user-profiles {
  max-height: 64vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: static;
  top: 20% !important;
  background-color: rgb(42, 57, 66);
}
.me-auto {
  border: 2px solid rgb(32, 44, 51);
  border-radius: 5px;
}
.user-chats {
  max-height: 45vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  position: static;
  top: 20% !important;
}
.user-time-reply {
  font-size: 0.75rem;
  opacity: 0.7;
}
.user-fullname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}
.chat-section {
  position: static;
  top: 20% !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(244, 92, 93, 0);
}
::-webkit-scrollbar-thumb {
  background: rgb(17, 27, 33);
}
.text-chat {
  line-height: 1.3em;
  font-size: 15px;
  border-radius: 3px;
}
.send-btn {
  border: none;
  border-radius: 20px;
}
.text-background {
  background-color: #ddd4d4d4;
}

.user-position {
  border-bottom: 1px solid rgb(233, 237, 227);
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.show > .btn-success.dropdown-toggle {
  background-color: transparent !important;
}
.dropdown-item:focus,
.dropdown-item:active:focus,
.dropdown-item.active:focus,
.dropdown-item.focus,
.dropdown-item:active.focus,
.dropdown-item.active.focus.dropdown-item:active {
  background-color: transparent !important;
  color: #0cc4f2 !important;
}
.dropdown-item {
  color: white;
}
.dropdown-item:hover {
  background-color: rgb(17, 27, 33);
  color: white;
}
.dropdown-menu.show {
  background-color: rgb(42, 57, 66);
  min-width: 15rem;
  z-index: 4 !important;
}
.date {
  font-size: 12px;
  opacity: 0.6;
}
.plus-project {
  width: 20rem;
  height: 15rem;
  box-shadow: 3px 5px 5px rgb(17, 27, 33);
  border-radius: 5px;
  background-color: rgb(42, 57, 66);
  border: none;
  overflow: hidden;
}
.react-datepicker-popper {
  background-color: rgb(42, 57, 66) !important;
}
.my-projects {
  height: 100vh !important;
  overflow: hidden;
}
.plus-project:hover {
  /* border: 1px solid rgb(233, 237, 227); */
  background-color: rgb(25, 35, 40);
}
.settings-card:hover {
  box-shadow: 1px 3px 5px rgb(17, 27, 33);
}

.discipline-img {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 5px;
}
.primary-btn {
  width: 10rem;
  background-color: rgb(17, 27, 33);
  border: none;
}
hr {
  color: rgb(42, 57, 66);
  background-color: rgb(32, 44, 51);
  height: 1px;
}
.primary-btn:hover {
  color: white !important;
  background-color: rgb(17, 27, 33);
}
.primary-btn:focus {
  background-color: rgb(233, 237, 227);
  color: rgb(17, 27, 33) !important;
  outline: none !important;
  box-shadow: none !important;
}
.create-btn {
  background-color: rgb(17, 27, 33);
  width: 80%;
}
.create-btn:focus {
  background-color: rgb(17, 27, 33);
  outline: none !important;
  box-shadow: none !important;
}
.tournament-name-img {
  width: 4rem;
  height: 3rem;
}
.project-cover-img {
  width: 100%;
  height: 85%;
  object-fit: cover;
}
.project-cover-img1 {
  width: 100%;
  height: 250px;
  /* object-fit: cover; */
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #0cc4f2;
}
/* .modal-lg {
  max-width: 80% !important;
} */
.overview-border {
  border-bottom: 3px solid #0cc4f2;
}
#create-btn {
  display: none;
}
.organizer-account {
  background-color: rgb(42, 57, 66);
}
@media screen and (max-width: 1413px) {
  .plus-project {
    width: 18rem;
    height: 13rem;
    overflow: hidden;
    box-shadow: 1px 3px 5px rgb(17, 27, 33);
    border-radius: 5px;
  }
}
@media screen and (max-width: 930px) {
  .organizer {
    margin-right: auto;
    padding-right: 2rem;
  }
  .plus-project {
    width: 16rem;
    height: 12rem;
    overflow: hidden;
    box-shadow: 1px 3px 5px rgb(17, 27, 33);
    border-radius: 5px;
  }
  .d-sm-none.my-projects.giftcard-preview-nav {
    display: none !important ;
  }
}
@media screen and (max-width: 576px) {
  .plus-project {
    width: 100%;
    height: 18rem;
    overflow: hidden;
    box-shadow: 1px 3px 5px rgb(17, 27, 33);
    border-radius: 5px;
  }
}
@media screen and (max-width: 992px) {
  #create-btn {
    display: block;
    margin-right: 5rem;
  }
}
.button:disabled,
button[disabled].primary-btn {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666 !important;
}
.registration-card {
  width: 80% !important;
  position: sticky;
  top: 6rem;
  z-index: 5;
}

.link-none-deco {
  text-decoration: none !important;
}
.border-right {
  border-right: 1px solid;
}
.text-mute {
  opacity: 0.6;
}
ul li {
  list-style: none;
}
.card-header {
  z-index: 0 !important;
}
.card {
  border: none;
  box-sizing: border-box;
  background-color: rgb(42, 57, 66);
  z-index: 0 !important;
}
.card-body {
  background-color: rgb(42, 57, 66);
}
.card-header {
  background-color: rgb(29, 39, 46);
}
.my-projects.giftcard-preview-nav {
  position: sticky;
  top: 0;
}
.form-select {
  background-color: rgb(32, 44, 51);
  border: none;
  border-radius: 5px;
}

.form-control {
  border: none;
}
.nav-link.active {
  background-color: rgb(32, 44, 51) !important;
  color: white !important;
  border: none;
}
.nav-link:hover {
  border: none;
}
.nav-link {
  color: rgb(18, 186, 227);
}
select option:hover {
  background-color: rgb(42, 57, 66) !important;
}
input[type="radio"] {
  background-color: rgb(32, 44, 51) !important;
}
input[type="email"].form-control {
  background-color: rgb(32, 44, 51) !important;
}

input[type="checkbox"]:not(:checked) {
  background-color: rgb(32, 44, 51) !important;
}
.carousel-indicators {
  margin-top: 3rem !important;
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #0cc4f2;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
  border-radius: 100%;
}
.carousel-indicators .active {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgb(17, 27, 33);
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 100%;
}
.carousel-control-prev {
  display: none !important;
}
.carousel-control-next {
  display: none !important;
}
.fixture-container .participant-list:hover {
  background-color: rgb(17, 27, 33);
}
.participant-list:hover {
  background-color: rgb(17, 27, 33);
}
.fixture-container .participant-list {
  background-color: rgb(42, 57, 66);
  border: none !important;
}
.fixture-container {
  /* max-height: 76vh;
  overflow-y: scroll;
  overflow-x: hidden; */
}
.friends-list {
  border-bottom: 1px solid rgb(206, 197, 197);
}
.user-friends:hover {
  background-color: rgb(17, 27, 33);
}
.playerNav {
  position: sticky;
  top: 11.5%;
  background-color: rgb(17, 27, 33);
  z-index: 2;
}
.navigation-tabs.d-flex.justify-content-center.textColor.nav.nav-tabs {
  position: fixed !important;
  top: 0;
  left: 15%;
  right: 15%;
  z-index: 2;
  border: none;
}
.text-danger {
  font-size: 1rem;
}
.user-name-reporter {
  width: 12rem;
}

.registration-forms {
  background-color: rgb(42, 57, 66);
  padding-bottom: 10px;
}
.tournament-preview-img {
  width: 6rem;
}
.tournament-list :hover {
  background-color: rgb(17, 27, 33);
}
.span {
  font-size: 0.9em;
}
.tournament-img-cover {
  height: 55vh;
  object-fit: cover;
}
.tournament-img-cover-container {
  position: relative;
  isolation: isolate;
}
.player-states {
  width: 3rem;
  text-align: left;
}
.tournament-img-cover-container::after {
  content: "";
  position: absolute;
  top: 0;
  height: 55vh;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.15;
  z-index: 0;
}
.user_current-position {
  background-color: rgb(32, 44, 51) !important;
}
.user_current-position:hover {
  background-color: rgb(17, 27, 33) !important;
}
.tournament-info {
  z-index: 3 !important;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(21, 19, 19));
}
.register-card-top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 4 !important;
}
.reg-border-right {
  border-right: 1px dotted;
}
tab[title] {
  color: #0cc4f2 !important;
}
.border-right {
  border-right: 2px solid !important;
}
.border-left {
  border-left: 2px solid !important;
}
.border {
  background-color: white;
}
.rounds-robing.nav.nav.nav-tabs {
  border: none;
  display: flex;
  justify-content: center;
}
.profile-fixed {
  position: sticky;
  top: 20%;
}
.tournament-structure-card:hover {
  box-shadow: 3px 3px 5px black;
  border-radius: 5px;
}
.participant-names:hover {
  background-color: rgb(17, 27, 33);
}
.participant-names {
  background-color: rgb(32, 44, 51);
  border-radius: 4px;
  border: none !important;
}
.container.participants-registered {
  background-color: rgb(42, 57, 66);
}
.player-round-1 {
  position: relative;
  border: 1px solid gray !important;
  border-radius: 5px;
  background-color: rgb(42, 57, 66) !important;
}
.player-round-2 {
  position: relative;
  border: 1px solid gray !important;
  border-radius: 5px;
  background-color: rgb(42, 57, 66) !important;
}
.player-round-3 {
  position: relative;
  border: 1px solid gray !important;
  border-radius: 5px;
  background-color: rgb(42, 57, 66) !important;
}
.player-round-4 {
  position: relative;
  border: 1px solid gray !important;
  border-radius: 5px;
  background-color: rgb(42, 57, 66) !important;
}
.player-round-1::after {
  content: "";
  width: 2rem;
  height: 1.5px;
  background-color: gray;
  position: absolute;
  right: -2rem;
  top: 50%;
}
.footer {
  background-color: rgb(42, 57, 66);
}
.player-round-1::before {
  content: "";
  width: 1.2px;
  height: 3.5rem;
  background-color: gray;
  position: absolute;
  right: -2rem;
  top: 50%;
}
.player-round-2::after {
  content: "";
  width: 2rem;
  height: 1.5px;
  background-color: gray;
  position: absolute;
  right: -2rem;
  top: 50%;
}

.player-round-2::before {
  content: "";
  width: 1.2px;
  height: 3.5rem;
  background-color: gray;
  position: absolute;
  right: -2rem;
  bottom: 50%;
}
.player-round-3::after {
  content: "";
  width: 2rem;
  height: 1.5px;
  background-color: gray;
  position: absolute;
  right: -2rem;
  top: 50%;
}
.player-round-3::before {
  content: "";
  width: 1.2px;
  height: 8.5rem;
  background-color: gray;
  position: absolute;
  right: -2rem;
  bottom: 50%;
}
.my-projects.giftcard-preview-nav.flex.flex-column {
  position: relative;
}
.organizer-profile {
  position: absolute;
  bottom: 10px;
  transform: translateY(45%);
  transition: transform 1s;
}
.organizer-profile.active {
  transform: translateY(-10%);
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.player-round-4::after {
  content: "";
  width: 4rem;
  height: 1.5px;
  background-color: gray;
  position: absolute;
  left: -4rem;
  top: 50%;
}
.tournament-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tournament-name1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 260px;
}
.edit-tournament {
  position: absolute;
  top: 5%;
  right: 0%;
  border: none;
  background-color: transparent;
}
.tournament-card-edit {
  position: relative;
}
.dropdown-toggle.btn {
  background-color: transparent;
  outline: none;
  border: none;
}
.dropdown-toggle.btn:focus {
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
}
.social-icons {
  position: relative;
}
@media screen and (max-width: 992px) {
  .featured-leagues {
    font-size: 2em !important;
  }
  .h3-mobile.my-2.d-flex {
    font-size: 16px !important;
  }
  .userProfile {
    display: none !important;
  }
  .featured-league {
    font-size: 1.5em !important;
  }
  .navBackground2.myNav {
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: rgb(17, 27, 33);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .users {
    position: absolute;
    top: 60%;
  }
  .jumbotron {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }

  .position-relative .logo-img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
  }
  .position-relative .height {
    min-height: 100vh;
  }
  .into-content h1.textColor {
    font-size: 1.4em;
  }
  .swords {
    font-size: 10px;
    transform: scale(0.4);
    padding: 0;
    height: 20px;
    transform: translateY(-10px);
  }
}
.scoll-table.gift-container .secondary {
  color: rgb(55, 208, 55);
}
@media screen and (max-width: 768px) {
  .featured-leagues {
    font-size: 1.5em !important;
  }

  .featured-league {
    font-size: 1.1em !important;
  }
  span.span {
    font-size: 12px !important;
  }
  .tournament-name {
    font-size: 0.85em !important;
  }
  .position-relative .logo-img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
  }

  .d-flex.flex-cart {
    display: flex;
    flex-direction: column;
  }
  .giftcard-section .giftcard-preview .logo-img {
    width: 3rem;
    height: 3rem;
  }
  .preview-content.ml-5.d-flex h3.mb-5.pb-2 {
    font-size: 1.5em;
  }
  .preview-content.ml-5.d-flex.flex-column.justify-content-center {
    margin-left: 5px;
  }
}
button.nav-link {
  margin: auto !important;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.8rem !important;
  }
  .user-name-reporter {
    width: 5rem;
  }
  .gift-container.mb-5.pb-2.mx-2.fixture-container.fixture-scroll {
    overflow-x: scroll;
    margin-left: 0 !important;
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
    font-size: 0.8rem;
    /* position: relative; */
  }
  .playerNav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 8px;
    background-color: rgb(17, 27, 33);
    width: 500px !important;
  }

  .playerNav .d-flex.justify-content-between {
    padding-right: 0 !important;
  }
  .gift-container.mb-5.pb-2.mx-2.fixture-container.fixture-scroll
    .mobile-scrolling {
    width: 500px !important;
    /* padding-right: 15px !important; */
    /* position: absolute; */
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .user-page button.dropdown-toggle.btn {
    padding: 5px;
  }
  .user-page button.dropdown-toggle.btn .notification-bell svg {
    width: 15px !important;
    height: 15px !important;
  }
  .user-page button.dropdown-toggle.btn img {
    width: 20px !important;
    height: 20px !important;
  }
  .mobile-scrolling .player-position {
    padding-left: 0px !important;
  }
  .player-name-sticky.player {
    position: sticky;
    left: 15px;
    background-color: rgb(17, 27, 33);
    z-index: 3;
    width: 188px;
  }
  .mobile-scrolling .participant-list {
    padding-right: 8px;
  }

  /* .player-stats {
    transform: translateX(0px);
  } */
  .player-stats {
    transform: translateX(-15px);
  }
  .participant-list .player-name-sticky {
    position: sticky;
    left: 0px;
    background-color: rgb(42, 57, 66);
  }
  .user_current-position .player-name-sticky {
    background-color: rgb(32, 44, 51);
  }
  .seasons-list.text-nowrap {
    position: sticky !important;
    left: 0;
    right: 0;
    background-color: rgb(42, 57, 66);
  }
  .participant-list:hover .player-name-sticky {
    position: sticky;
    left: -15px;
    background-color: rgb(17, 27, 33);
  }
  .player-name-sticky .text-nowrap {
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .player-name-sticky.player {
    /* width: 20px; */
    position: sticky;
    top: 64px;
  }
  .user_current-position {
    background-color: rgb(32, 44, 51);
  }
  .player-states {
    width: 15px;
    text-align: left;
    padding-right: 5px;
  }
  .user-page
    .align-items-center.justify-content-between.position-fixed.giftcard-preview-nav {
    font-size: 0.8rem;
    padding-left: 0;
    padding-right: 0;
  }
  .results-input {
    background-color: #838181;
    border: 1px black solid;
    border-radius: 2px;
    font-size: 1em;
    width: 2.5rem;
    text-align: center;
  }
  .results-input2 {
    background-color: #d6cdcd;
    border: 1px black solid;
    border-radius: 2px;
    font-size: 0.8em;
    width: 2rem;
    text-align: center;
  }
  .primary-btn {
    width: 6rem;
    background-color: rgb(17, 27, 33);
    border: none;
  }
  .modal-header .modal-title.h4 span {
    font-size: 1rem;
  }
  input {
    font-size: 1rem !important;
  }
  .tournament-name1 {
    width: 6rem;
    font-size: 0.9rem;
  }
  .registration-label-hide {
    display: none;
  }
  .tournament-preview-img {
    width: 4rem;
  }
  .modal-content button {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .tournament-preview-img {
    width: 3rem;
  }
  .tournament-name1 {
    width: 5rem;
    font-size: 0.8rem;
  }
  .results-input {
    border-radius: 2px;
    font-size: 1em;
    width: 2rem;
  }
  .results-input2 {
    border-radius: 2px;
    font-size: 0.8em;
    width: 2rem;
  }
  .h3-mobile {
    font-size: 0.8rem;
  }
  .user-name-reporter {
    width: 3rem;
    font-size: 1rem;
  }
  .user-name-reporter.text-danger {
    font-size: 1rem !important;
  }
  h5 {
    font-size: 1rem;
  }
  .user-page .position-fixed.giftcard-preview-nav {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .tournament-details .nav.nav-tabs button.nav-link {
    padding-left: 3px;
    padding-right: 3px;
  }
  h4 {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  .modal-content button {
    font-size: 0.8rem;
  }
}
