.reservations-stations-container {
  background-color: rgb(42, 57, 66, 0.5);
  opacity: 0.9;
}

.reservations-stations {
  background-color: rgba(16, 22, 26);
  /* margin-top: ; */
}
.station.reserved {
  background-color: rgb(225, 225, 225, 0.3);
  width: 15rem;
  height: 8rem;
  border-radius: 5px;
  position: relative;
  border-left: 5px solid red;
}
.station.free {
  background-color: rgb(225, 225, 225, 0.3);
  width: 15rem;
  height: 8rem;
  border-radius: 5px;
  position: relative;
  border-left: 5px solid rgb(40, 167, 69);
}
.station.free .player-chair {
  width: 4rem;
  height: 2rem;
  border-radius: 10%;
  border-right: 8px solid green;
  border-left: 8px solid green;
  background-color: rgb(40, 167, 69);
}
.station.reserved .player-chair {
  width: 4rem;
  height: 2rem;
  border-radius: 10%;
  border-right: 8px solid red;
  border-left: 8px solid red;
  background-color: rgb(224, 67, 67);
}

.free .player-chair.chair-1 {
  position: absolute;
  bottom: -1rem;
  left: 1rem;
  border-bottom: 8px solid green;
}
.free .player-chair.chair-2 {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
  border-bottom: 8px solid green;
}
.reserved .player-chair.chair-1 {
  position: absolute;
  bottom: -1rem;
  left: 1rem;
  border-bottom: 8px solid red;
}
.reserved .player-chair.chair-2 {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
  border-bottom: 8px solid red;
}
.free .player-chair.chair-3 {
  position: absolute;
  top: -1rem;
  left: 1rem;
  border-top: 8px solid green;
}
.free .player-chair.chair-4 {
  position: absolute;
  top: -1rem;
  right: 1rem;
  border-top: 8px solid green;
}
.reserved .player-chair.chair-3 {
  position: absolute;
  top: -1rem;
  left: 1rem;
  border-top: 8px solid red;
}
.reserved .player-chair.chair-4 {
  position: absolute;
  top: -1rem;
  right: 1rem;
  border-top: 8px solid red;
}
