/* Variables */
:root {
  --background-color: rgb(42, 57, 66);
  --base-font: "Montserrat", arial, sans-serif;
  --base-font-size: 16px;
  --base-font-color: #333;
  --bracket-color: #444;
}

/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
}

.tournament-bracket-render {
  text-align: center;
  font-family: var(--base-font);
}

/* Title section */
.title {
  background-color: #222;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  padding: 15px;
  color: white;
}

/* Category selection */
.category-selection {
  width: 280px;
  margin: 15px auto 5px;
  display: flex;
}
.category-selection > div {
  padding: 0 10px;
}

/* Champions container */
.champions-container {
  background: rgb(42, 57, 66);
  padding: 10px;
  width: 85%;
  margin-left: 10px;
  min-height: 150px;
  box-shadow: 0 0 2px 4px #656464;
  position: absolute;
}
@media (max-width: 1000px) {
  .champions-container {
    position: initial;
    margin: 30px auto 15px;
    width: 90%;
    min-height: 150px;
  }
}

.champions-data {
  font-size: 26px;
  text-align: center;
}
.champions-data div {
  margin: 10px;
  padding: 5px 0;
}
.champions-data i {
  color: gold;
  font-size: 50px;
}
.champions-data .champions-team {
  padding: 10px 0;
  font-weight: 700;
}
@media (max-width: 1000px) {
  .champions-data .champions-team {
    font-size: 30px;
  }
}

/* Knockout stage */
.knockout-stage {
  text-align: center;
  width: 25%;
  background: rgb(42, 57, 66);
  padding-bottom: 50px;
  border-left: 2px dashed rgb(32, 44, 51);
}
@media (max-width: 1000px) {
  .knockout-stage {
    width: 100%;
    background: initial;
    padding-bottom: 10px;
  }
}
.knockout-stage:nth-of-type(1) {
  border-left: none;
}
.knockout-stage:nth-of-type(4) {
  border-left: none;
}
.knockout-stage:nth-of-type(4) > h2 {
  font-size: 32px;
}
.knockout-stage:nth-of-type(2n) {
  background: rgb(42, 57, 66);
}
@media (max-width: 1000px) {
  .knockout-stage:nth-of-type(2n) {
    background: initial;
  }
}
.knockout-stage h2 {
  font-size: 26px;
  font-weight: 700;
  padding: 20px 0 10px;
}

.knockout-container {
  display: flex;
  flex-direction: row;
  /* margin: 20px; */
  justify-content: space-around;
  border-radius: 10px !important;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .knockout-container {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .knockout-container {
    width: 90%;
  }
}

.knockout-round-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}
.knockout-round-container:nth-of-type(4) {
  justify-content: center;
}
@media (max-width: 1000px) {
  .knockout-round-container {
    height: auto;
    width: auto;
    margin: initial;
  }
}

.knockout-match {
  font-family: var(--base-font);
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background: rgb(17, 27, 33);
  padding: 5px 10px;
  margin: 10px 5px 0px;
  text-align: center;
  min-height: 30px;
  z-index: 20;
  border-radius: 3px;
  /* box-shadow: 0px 0px 10px 3px #aaa; */
}
.knockout-match:nth-child(2n) {
  margin: 0 5px 10px;
}

.team-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.team-radio {
  /* background: #bbb; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bracket-team::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 11%;
  left: -11%;
  top: 50%;
  border-top: 3px solid var(--bracket-color);
}
.bracket-team::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  right: -12.5px;
  border-color: var(--bracket-color);
  border-width: 3px;
}
@media (max-width: 1000px) {
  .bracket-team::before,
  .bracket-team::after {
    display: none;
  }
}

.bracket-team:nth-of-type(odd)::after {
  height: 100%;
  top: 50%;
  border-right-style: solid;
  border-top-style: solid;
}

.bracket-team:nth-of-type(even)::after {
  height: 100%;
  top: -50%;
  border-right-style: solid;
  border-bottom-style: solid;
}

.bracket-1 .bracket-team::before {
  display: none;
}

.bracket-2 .bracket-team:nth-of-type(odd)::after {
  height: 200%;
  top: 50%;
}

.bracket-2 .bracket-team:nth-of-type(even)::after {
  height: 200%;
  top: -150%;
}

.bracket-3 .bracket-team:nth-of-type(odd)::after {
  height: 350%;
  top: 50%;
}

.bracket-3 .bracket-team:nth-of-type(even)::after {
  height: 350%;
  top: -300%;
}

.bracket-4 .bracket-team::after {
  display: none;
}
